:root {
    --darkblue-border: #465279;
    --blue-placeholder: #5668A6;
    --TaBbar-grey: #F6F7F8;
}


html {
    background-color: #E9EAED;
    font-family: Arial, Helvetica, sans-serif;
}


/* header */
#box1 {
    width: 850px;
    height: 300px;
    /* background-color: var(--blue-placeholder); */
    background-image: url(pics/cover.png);
    margin: 0 auto;
}

nav {
    width: 850px;
    background-color: white;
    height: 45px;
    z-index: 1;
}
nav p {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    color: #444444;
}
.navChoice {
    border-right: 1px solid #E9EAEC;
}
.wrapper {
    margin-top: -170px;
    z-index: 3;
    float: left;
}
.wrapper::after {
    content: "";
    clear: both;
    display: block;
}
#profBox {
    float: left;
    margin: 50px 15px 0px 15px;
    z-index: 5;
    width: 150px;
    height: 150px;
    /* background-color: var(--blue-placeholder); */
    border: 1px solid var(--darkblue-border);
    position: relative;
    left: -5px;
} 
#profBox img{
    width: 100%;
}


h2 {
    padding-top: 170px;
    padding-left: 185px;
    color: white;
}
h3 {
    padding-left: 185px;
    color: white;
}

button {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    border: 1px solid var(--darkblue-border);
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#like {
    margin-left: 655px;
    float: left;
    position: absolute;
}
#follow, #message, #etc {
    float: right;
}
#follow {
    margin-right: 10px;
}
/* inactive = 3E414A */
/* active = 242732 */




/* content */
* {
    box-sizing: border-box;
}
.clearfix {
    margin: 0 auto;
    width: 850px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
}

.menu {
    width: 328px;
    margin-right: 10px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content {
    width: 512px;
}
.content ul {
    padding: 0px;
}

.sections {
    background-color: white;
}

.TaBfirst {
    background-color: var(--TaBbar-grey);
    border-bottom: 1px solid #ECECEC;
}
.TaB {
    background-color: var(--TaBbar-grey);
    width: 100%;
    padding: 5px 10px;
}

hr {
    color: #E9EAEC; /*ie7+*/
    background-color: #E9EAEC; /*firefox and opera*/
    border: 1px solid #E9EAEC; /*chrome and safari*/
}

.midText {
    background-color: white;
    padding: 20px 10px 20px 10px;
}
.event {
    background-color: white;
    border: 1px solid #E9EAEC;
    margin-top: -18px;
    margin-left: 6px;
    margin-right: 6px;
    padding-bottom: 20px;
    font-size: 14px;
}
.smallText {
    background-color: white;
    padding: 0px;
    font-size: 12px;
}
.last {
    padding-bottom: 30px;
}

/* pictures */
.picPic {
    float: left;
    margin: 10px;
    z-index: 5;
    width: 50px;
    height: 50px;
    /* background-color: var(--blue-placeholder); */
    border: 1px solid var(--darkblue-border);
    position: relative;
}
.picPic img {
    width: 100%
}
.bigPic, .cover {
    margin: 0 auto;
    z-index: 5;
    width: 500px;
    height: 200px;
    /* background-color: var(--blue-placeholder);
    border: 1px solid var(--darkblue-border); */
    position: relative;
}
.bigPic img, .cover img {
    width: 100%
}
#group {
    display: inline;
}
#smallPic {
    float: left;
    margin: 10px;
    width: 130px;
    height: 50px;
    /* background-color: var(--blue-placeholder);
    border: 1px solid var(--darkblue-border); */
    position: relative;
}
#smallPic img {
    width: 100%
}
.midText1 {
    background-color: white;
    height: 250px;
    padding: 20px 10px 30px 10px;
}
.photos {
    float: left;
    margin: 5px;
    width: 92px;
    height: 92px;
    /* background-color: var(--blue-placeholder); */
    /* border: 1px solid var(--darkblue-border); */
    position: relative;
}